<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ConfigSmokeTestSuite">
  <test name="ConfigSmokeTest">
    <classes>
      <class name="macconfigforms.BankingConfig"/>
    </classes>
  </test> <!-- ConfigSmokeTest -->
</suite> <!-- ConfigSmokeTestSuite -->
